<!-- HEADER -->
<header>

  <!-- MENU -->
  <div class="menu_block clearfix">

    <!-- LOGO -->
    <div class="logo">
      <a href="{{ site.url }}/" alt="">GABO</a>
    </div><!-- LOGO -->

    <!-- RESPONSIVE BUTTON MENU -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="glyphicon glyphicon-align-justify"></span>
      </button>
    </div><!-- //RESPONSIVE BUTTON MENU -->

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="first active"><a href="{{ site.url }}/" title="">Inicio</a></li>
        <li class="sub-menu"><a href="{{ site.url }}/obras" title="">Obras</a></li>
        <li class="sub-menu"><a href="{{ site.url }}/proyectos" title="">Proyectos</a></li>
        <li class="sub-menu"><a href="{{ site.url }}/bio" title="">Bio</a></li>
        <li class="last"><a href="{{ site.url }}/contacto" title="">Contacto</a></li>
      </ul>
    </div>
  </div><!-- //MENU -->
</header><!-- //HEADER -->
